<template>
    <div>
        <!-- 页面：{{ properCase name }} -->
    </div>
</template>

<script>
export default {
    props: {},
    data() {
        return {}
    },
    created() {},
    mounted() {},
    methods: {}
}
</script>

<style lang="scss" scoped>
// scss
</style>
