<template>
    <div>
        {{#if isLayout}}
        <!-- 布局页面：{{ properCase name }} -->
        <RouterView />
        {{else}}
        <!-- 页面：{{ properCase name }} -->
        {{/if}}
    </div>
</template>

<script>
export default {
    props: {},
    data() {
        return {}
    },
    created() {},
    mounted() {},
    methods: {}
}
</script>

<style lang="scss" scoped>
// scss
</style>
